<nav class="navbar navbar-expanded-lg navbar-dark bg-primary">
    <h1><a class="navbar-brand text-white">New York Times Scraper</a><a class="navbar-brand nav-link text-white" href="/saved">Saved Articles</a></h1>
    <span>
        <a class="btn btn-white text-dark scrape-new">SCRAPE NEW ARTICLES!</a>
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
    </span>
</nav>
<div class="jumbotron landing" id="landing">
    <h1 class="text-primary">Mongo Scraper</h1>
    <h4 class="text-white">New York Times Edition</h4>
</div>
<div class="articles">
    {{#each article}}
        {{#unless saved}}
            {{> articles/unsaved-block}}
        {{/unless}}
    {{/each}}
</div>
