<nav>
    <button class="scraper">Scrape New Articles!</button>
    <button class="clear">Clear Articles!</button>
    <a href="/saved">saved</a>
</nav>
<div class="articles">
    {{#each article}}
        {{#unless saved}}
            {{> articles/unsaved-block}}
        {{/unless}}
    {{/each}}
</div>
