<nav>
    <button class="clear">Clear Articles!</button>
    <a href="/">Home</a>
</nav>
<div class="unsaved">
    {{#each article}}
        {{#if saved}}
             {{> articles/saved-block}}
        {{/if}}
    {{/each}}
</div>