<nav class="navbar navbar-lg navbar-dark bg-primary">
    <h1><a class="navbar-brand text-white">New York Times Scraper</a><a class="navbar-brand nav-link text-white" href="/">Home</a></h1>

    <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
</nav>
<div class="jumbotron landing">
    <h1 class="text-primary">Saved Articles</h1>
    <h4 class="text-white">Your Saved Articles</h4>    
</div>
<div class="unsaved">
    {{#each article}}
        {{#if saved}}
             {{> articles/saved-block}}
        {{/if}}
    {{/each}}
</div>